%centerVertical{
	display: block;
	position: relative;
	top: 50%;
	@include prefix(transform, translateY(-50%), webkit moz o ms);
	width: 100%;
}

%title{
	color: $mainColor;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1.49px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

%text{
	color: $txtColor;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 26px;

}

%author{
	color: $mainColor;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.7px;
	margin-top: 15px;
	padding-right: 6px;
}