$mainColor: #DF5430; //orange
$secondColor: #39344d; //gray
$thirdColor: #c8c8c8; //light gray
$fourColor: #fff; //white
$fiveColor: #BDBDBD; // light 2 gray
$txtColor: #292929; //dark


$mainFont: 'Dosis', sans-serif;
$iconFont: 'iconFont';

